.devcontainer/**
.vscode/**
.vscode-test/**
assets/**
out/**
node_modules/**
src/**
.gitattributes
.gitignore
esbuild.js
eslint.config.js
package-lock.json
tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
