.devcontainer/**
.vscode/**
.vscode-test/**
assets/**
out/**
node_modules/**
sample/**
src/**
.gitignore
esbuild.js
eslint.config.ts
package-lock.json
tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
